<div class="container text-center cont-flex">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything</p>
  <div class="form-group">
    <form action="/answer" class="form-inline">
      <input type="text" name="question" class="form-control form-control-sm">
      <input type="submit" value="What?!" class="btn btn-primary btn-sm">
    </form>
  </div>
</div>
