// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: rgba(156, 37, 143, 0.7);
}
.container {
  margin-top: 40px;
}
.cont-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: rgba(0, 187, 198, 1);
  width: 50%;
  padding: 20px 0 0 15px;
  margin-bottom: 10px;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  &:hover {
    text-decoration: none;
    color: rgb(225, 225, 225);
  }
}

